option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "extractfacts2.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "extractfacts2/wsgi.py"
    StaticFiles: "/static/=www/static/"
packages:
  yum:
    postgresq195-devel: []
commands:
  01_postgresql_install:
    command: 'yum install -y postgresql195 postgresql95-devel'

